<!DOCTYPE html>
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<div class="row format-form">
  <div class="col s12 14 offset-14">
    <div class="card">
      <div class="card-action">
        <h3>Login Form</h3>
      </div>
      <div class="card-content">
        <div class="format-button">
          <div class="form-field">
            <input type="email" [(ngModel)]="email" placeholder="email">
          </div><br>
          <div class="form-field">
            <input type="password" [(ngModel)]="password" placeholder="password">
          </div><br>
          <div class="form-field">
            <button type="button" class="btn btn-primary" (click)="loginWithEmailAndPassword()">Login With
              Email</button>
          </div>
          <div class="format-button form-field">
            <button type="button" class="btn btn-primary" (click)="loginAnonymously()">Login Anonymously</button>
          </div>
          <div *ngIf="user.isAnonymous">
            <!-- 匿名ユーザーの場合 -->
            <button (click)="upgradeAnonymouosWithGoogle()">Google認証に更新</button>
          </div>

        </div>
        <div *ngIf="(user | async) || {} as user">
          <div *ngIf="!user.uid;">
            <!-- 認証されていない場合 -->

            <div class="format-button">
              <button type="button" class="btn btn-primary" (click)="loginWithGoogle()">Login With Google</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="user.uid">
    <!-- 認証されている場合 -->
    <p>すでにログインしています。uid: {{user.uid}}</p>
    <button (click)="logout()">ログアウト</button>
  </div>
