<nav>
  <div class="nav-wrapper">
    <a href="home" class="brand-logo">Bark Worklogs</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <div class="buttonlogout" style="text-align: right">
        <button type="button" class="btn btn-primary waves-effect waves-light red" (click)="logOut()">
          Log Out
        </button>
      </div>
    </ul>
  </div>
</nav>


<h5 class="time">Pick Your Date!</h5>
<div class="container">
  <div class="row">
    <div class="col s6 m3"></div>
    <div class="col s12 m6">
      <form>
        <div class="input-field col s6">
          <input type="text" class="datepicker">
          <label for="calendar">Pick Date</label>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="timing">
  <h5 class="time1">Pick Your Time!</h5>
  <div class="container1">
    <div class="row">
      <div class="col s12 m3"></div>
      <div class="col s12 m6">
        <form class="option1">
          <div class="input-field col s6">
            <input class="timepicker" type="text" id="time">
            <label for="time">Start time</label>
          </div>
        </form>
      </div>
      <div class="col s12 m3"></div>

    </div>
  </div>

  <label>Break</label>
  <select class="browser-default col s6 m3">
    <option value="" disabled selected>How long ?</option>
    <option value="1">00:30</option>
    <option value="2">01:00</option>
    <option value="3">02:00</option>
  </select>


  <div class="container2">
    <div class="row">
      <div class="col s12 m3"></div>
      <div class="col s12 m6">
        <form>
          <div class="input-field col s6">
            <input class="timepicker1" type="text" id="itime">
            <label for="time">End time</label>
          </div>
        </form>
      </div>
      <div class="col s12 m3"></div>
    </div>







  </div>



</div>




<div class="third">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 thirdmessage">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">What will you do?</label>
        </div>
      </div>
    </form>
  </div>
</div>




<div class="buttonsubmit">
  <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>



<div class="row">
  <div id="admin" class="col s12">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Work History</span>
        <div class="actions">
          <a href="#add_users" class="modal-trigger waves-effect btn-flat nopadding"><i
              class="material-icons">person_add</i></a>
          <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
        </div>
      </div>
      <table id="datatable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Start</th>
            <th>Break</th>
            <th>End</th>
            <th>What did you do?</th>
          </tr>
        </thead>


      </table>
    </div>
  </div>
</div>
