.buttonlogout{
margin-right: 20px;
}

.brand-logo{
  margin-left:20px;
}

.container{
  margin-left: -170px;
}

.container1{
  margin-left:-380px;
}

.time{
  margin-left:80px;
}

.nav-wrapper{
  background-color: black;
}


.timing{
  margin-left: 650px;
  margin-top: -140px;
}

.container2{
  margin-left: -380px;
}

.time1{
  margin-left:-90px;
}

.buttonsubmit{
  margin-left: 85px;
}
