.buttonlogout{
margin-right: 20px;
}

.brand-logo{
  margin-left:20px;
}

.container{
  margin-left: 0px;
}

.container1{
  margin-left:0px;
  margin-top: 0px;
}

.time{
  margin-left:250px;
}
